<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon application</title>
</head>
<body>
    <h1>{{ title | upper}}</h1>

    <a href="{{ path('hello', {'prenom':'Sebastounet', 'age' : 31}) }}">Allez voir hello</a>

    <p>Votre age est de {{ age }} ?</p>
    {#
    
    
    {% if age >= 18  %}
        <p>Vous etes un adulte</p>
    {% elseif age >= 12  %}
        <p>Vous etes un ado</p>
    {% else %}
        <p>Vous etes un enfant</p>
    {% endif %}
    
    #}
    

    <ul>
        {% for compteur in (0..10) %}
            <li>{{ compteur }}</li>
        {% endfor %}
    </ul>

    {% for prenom, age in tableau %}
        {% if loop.first %}
            <strong><p>{{ prenom }} a {{ age }} ans</p></strong>
        {% elseif loop.last  %}
            <em><p>{{ prenom }} a {{ age }} ans</p></em>
        {% else %}  
            <p>{{ prenom }} a {{ age }} ans</p>  
        {% endif %}
        
    {% endfor %}
</body>
</html>